:root {
 --main-color: #222479;
 --secondary-color: #2F2EA3;
 --third: #563D67;
 --active: #F64C71;
 --passive: #987190;
}

.img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: fill;
}

a {
  text-decoration: none;
  letter-spacing: 5px;
  transition: .5s ease-in;
  color: #ffff;
}
a:hover {
  text-decoration: underline;
}
.pending{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 50px;
  height: 30px;
  padding: 7px;
  transition: .5s ease-in;
}

.active {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 50px;
  height: 30px;
  padding: 7px;
  transition: .5s ease-in;
  border-bottom: 1px solid black;;
}
